.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
  /*esto es para que cuando se achique la tarjeta pase abajo de las otras */
}

.card{
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
}

.cards .card img {
  width: 150px;
}

.cards .card p {
  opacity: 0.5;
}

@media(max-width: 900px) {
  .cards {
    margin-bottom: 15px;
  }
}

@media(max-width: 500px) {
  .cards {
    justify-content: space-around;
  }
}
